In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import pathlib as pl

In [32]:
pums_folder = pl.Path('pums/csv_pus')
pums_files = [
    'psam_pusa.csv',
    'psam_pusb.csv',
    'psam_pusc.csv',
    'psam_pusd.csv'
]

In [56]:
df = pd.DataFrame()
for f in pums_files:
    df = pd.concat([
        df,
        pd.read_csv(
            pums_folder/f,
            sep=',',
            usecols=[
                'PWGTP',
                'AGEP',
                'ST', 
                'MIG',
                'MIGPUMA', # Migration PUMA based on 2010 Census definition
                'MIGSP', # Migration recode - State or foreign country code
                # 'MV'
            ],
            dtype={
                'PWGTP': np.int16,
                'AGEP': np.int16,
                'ST': np.float32, 
                'MIG': np.float32,
                'MIGPUMA': np.float32,
                'MIGSP': np.float32,
                # 'MV': np.float32,
            }
        )
    ])

df.head()

    ST  PWGTP  AGEP  MIG  MIGPUMA  MIGSP
0  1.0     40    73  1.0      NaN    NaN
1  1.0      7    31  1.0      NaN    NaN
2  1.0     46    41  1.0      NaN    NaN
3  1.0     23    48  1.0      NaN    NaN
4  1.0     21    16  1.0      NaN    NaN

In [57]:
len(df.index)

15537785

In [58]:
df = df[df.AGEP>=25]
len(df.index)

11116066

In [59]:
df[['MIG', 'MIGPUMA', 'MIGSP']].value_counts()

MIG  MIGPUMA  MIGSP
3.0  3700.0   6.0      33194
     3400.0   17.0     18386
     390.0    25.0     17512
     100.0    4.0      16998
     190.0    8.0      16833
                       ...
2.0  1.0      414.0      233
3.0  6400.0   48.0       211
     900.0    54.0       211
2.0  1.0      427.0      191
              416.0      171
Name: count, Length: 1038, dtype: int64

In [60]:
# MIG = 3 means move within the US
df[df.MIG==3][['MIGPUMA', 'MIGSP']].value_counts()

MIGPUMA  MIGSP
3700.0   6.0      33194
3400.0   17.0     18386
390.0    25.0     17512
100.0    4.0      16998
190.0    8.0      16833
                  ...
6900.0   48.0       259
1600.0   22.0       253
1900.0   22.0       250
900.0    54.0       211
6400.0   48.0       211
Name: count, Length: 983, dtype: int64

In [61]:
len(df[df.MIGSP==6].index)

138922

In [67]:
df[df.MIGSP==6][['ST', 'PWGTP']].groupby('ST').sum().reset_index().rename(columns={'ST': 'state_moved_from', 'PWGTP': 'num_movers'})

    state_moved_from  num_movers
0                1.0        1811
1                2.0        1799
2                4.0       41795
3                5.0        3667
4                6.0     2503307
5                8.0       18120
6                9.0        2862
7               10.0         170
8               11.0        2083
9               12.0       22074
10              13.0       11821
11              15.0        8380
12              16.0       13978
13              17.0       10523
14              18.0        4195
15              19.0        2524
16              20.0        3480
17              21.0        2280
18              22.0        2630
19              23.0        1419
20              24.0        5244
21              25.0        7090
22              26.0        5540
23              27.0        3853
24              28.0        1484
25              29.0        6696
26              30.0        3298
27              31.0        2229
28              32.0       35719
29              33.0        1153
30              34.0        5268
31              35.0        4870
32              36.0       15847
33              37.0       11736
34              38.0         820
35              39.0        7172
36              40.0        5340
37              41.0       28037
38              42.0        7234
39              44.0         950
40              45.0        4871
41              46.0        1250
42              47.0        9573
43              48.0       53817
44              49.0       10095
45              50.0         940
46              51.0       12635
47              53.0       32468
48              54.0         758
49              55.0        3951
50              56.0        1811

In [69]:
states = {
    1:     'Alabama',
    2:     'Alaska',
    4:     'Arizona',
    5:     'Arkansas',
    6:     'California',
    8:     'Colorado',
    9:     'Connecticut',
    10:     'Delaware',
    11:     'District of Columbia',
    12:     'Florida',
    13:     'Georgia',
    15:     'Hawaii',
    16:     'Idaho',
    17:     'Illinois',
    18:     'Indiana',
    19:     'Iowa',
    20:     'Kansas',
    21:     'Kentucky',
    22:     'Louisiana',
    23:     'Maine',
    24:     'Maryland',
    25:     'Massachusetts',
    26:     'Michigan',
    27:     'Minnesota',
    28:     'Mississippi',
    29:     'Missouri',
    30:     'Montana',
    31:     'Nebraska',
    32:     'Nevada',
    33:     'New Hampshire',
    34:     'New Jersey',
    35:     'New Mexico',
    36:     'New York',
    37:     'North Carolina',
    38:     'North Dakota',
    39:     'Ohio',
    40:     'Oklahoma',
    41:     'Oregon',
    42:     'Pennsylvania',
    44:     'Rhode Island',
    45:     'South Carolina',
    46:     'South Dakota',
    47:     'Tennessee',
    48:     'Texas',
    49:     'Utah',
    50:     'Vermont',
    51:     'Virginia',
    53:     'Washington',
    54:     'West Virginia',
    55:     'Wisconsin',
    56:     'Wyoming',
    72:     'Puerto Rico'
}

In [79]:
df.ST = df.ST.replace(states)
df.MIGSP = df.MIGSP.replace(states)

In [72]:
df.ST.value_counts()

ST
California              1296491
Texas                    859966
Florida                  715220
New York                 692260
Pennsylvania             471249
Illinois                 445550
Ohio                     414420
Michigan                 361896
North Carolina           350099
Georgia                  327384
New Jersey               310042
Virginia                 290753
Washington               267571
Massachusetts            243191
Arizona                  238894
Tennessee                231987
Indiana                  228560
Missouri                 218741
Wisconsin                216834
Maryland                 209573
Minnesota                200810
Colorado                 196531
South Carolina           171816
Alabama                  168855
Kentucky                 156934
Louisiana                148862
Oregon                   148789
Oklahoma                 128976
Connecticut              126227
Iowa                     114621
Arkansas                 102595
Kansas                   102440
Nevada                   100838
Utah                      96712
Mississippi               96085
Nebraska                  67825
New Mexico                67161
West Virginia             63349
Idaho                     57283
Hawaii                    52725
Maine                     50286
New Hampshire             50155
Montana                   38112
Rhode Island              36671
Delaware                  33497
South Dakota              30560
North Dakota              27432
Vermont                   24127
District of Columbia      23449
Alaska                    21661
Wyoming                   20001
Name: count, dtype: int64

In [77]:
df[df.ST=='California'].PWGTP.sum()
# 26,801,106

26801106

In [84]:
cal_movers = df[(df.ST=='California') & (df.MIG==3) & (df.MIGSP != 'California')][['MIGSP', 'PWGTP']] \
    .groupby('MIGSP').sum().reset_index().rename(columns={'MIGSP': 'state_moved_from', 'PWGTP': 'num_movers'})
cal_movers

        state_moved_from  num_movers
0                Alabama        2193
1                 Alaska        1534
2                Arizona       17318
3               Arkansas        1799
4               Colorado       11966
5            Connecticut        3144
6               Delaware         554
7   District of Columbia        3604
8                Florida       15281
9                Georgia        7233
10                Hawaii        7151
11                 Idaho        2194
12              Illinois       13894
13               Indiana        3357
14                  Iowa        1684
15                Kansas        2206
16              Kentucky        1775
17             Louisiana        3060
18                 Maine         857
19              Maryland        5877
20         Massachusetts       10333
21              Michigan        5626
22             Minnesota        4854
23           Mississippi        1548
24              Missouri        4141
25               Montana        1116
26              Nebraska        1991
27                Nevada       14276
28         New Hampshire         517
29            New Jersey        6966
30            New Mexico        2573
31              New York       26712
32        North Carolina        6948
33          North Dakota         538
34                  Ohio        6431
35              Oklahoma        2568
36                Oregon       11705
37          Pennsylvania        7866
38           Puerto Rico        1006
39          Rhode Island        1600
40        South Carolina        1966
41          South Dakota         964
42             Tennessee        3005
43                 Texas       22262
44                  Utah        5211
45               Vermont         577
46              Virginia       11390
47            Washington       20952
48         West Virginia         594
49             Wisconsin        3044
50               Wyoming         674

In [94]:
total_movers = cal_movers.num_movers.sum()
cal_movers.loc[:, 'pct'] = cal_movers.num_movers / total_movers
cal_movers.sort_values('pct', ascending=False)

        state_moved_from  num_movers       pct
31              New York       26712  0.090050
43                 Texas       22262  0.075048
47            Washington       20952  0.070632
2                Arizona       17318  0.058382
8                Florida       15281  0.051514
27                Nevada       14276  0.048126
12              Illinois       13894  0.046839
4               Colorado       11966  0.040339
36                Oregon       11705  0.039459
46              Virginia       11390  0.038397
20         Massachusetts       10333  0.034834
37          Pennsylvania        7866  0.026517
9                Georgia        7233  0.024384
10                Hawaii        7151  0.024107
29            New Jersey        6966  0.023483
32        North Carolina        6948  0.023423
34                  Ohio        6431  0.021680
19              Maryland        5877  0.019812
21              Michigan        5626  0.018966
44                  Utah        5211  0.017567
22             Minnesota        4854  0.016364
24              Missouri        4141  0.013960
7   District of Columbia        3604  0.012150
13               Indiana        3357  0.011317
5            Connecticut        3144  0.010599
17             Louisiana        3060  0.010316
49             Wisconsin        3044  0.010262
42             Tennessee        3005  0.010130
30            New Mexico        2573  0.008674
35              Oklahoma        2568  0.008657
15                Kansas        2206  0.007437
11                 Idaho        2194  0.007396
0                Alabama        2193  0.007393
26              Nebraska        1991  0.006712
40        South Carolina        1966  0.006628
3               Arkansas        1799  0.006065
16              Kentucky        1775  0.005984
14                  Iowa        1684  0.005677
39          Rhode Island        1600  0.005394
23           Mississippi        1548  0.005219
1                 Alaska        1534  0.005171
25               Montana        1116  0.003762
38           Puerto Rico        1006  0.003391
41          South Dakota         964  0.003250
18                 Maine         857  0.002889
50               Wyoming         674  0.002272
48         West Virginia         594  0.002002
45               Vermont         577  0.001945
6               Delaware         554  0.001868
33          North Dakota         538  0.001814
28         New Hampshire         517  0.001743

In [88]:
ariz_movers = df[(df.ST=='Arizona') & (df.MIG==3) & (df.MIGSP != 'Arizona')][['MIGSP', 'PWGTP']] \
    .groupby('MIGSP').sum().reset_index().rename(columns={'MIGSP': 'state_moved_from', 'PWGTP': 'num_movers'})
ariz_movers

        state_moved_from  num_movers
0                Alabama         826
1                 Alaska        1045
2               Arkansas         648
3             California       41795
4               Colorado        8196
5            Connecticut         974
6               Delaware         372
7   District of Columbia         146
8                Florida        5314
9                Georgia        2214
10                Hawaii        1269
11                 Idaho        2499
12              Illinois        7607
13               Indiana        2740
14                  Iowa        1624
15                Kansas        1701
16              Kentucky         703
17             Louisiana        1493
18                 Maine         261
19              Maryland        1480
20         Massachusetts        1629
21              Michigan        4035
22             Minnesota        6671
23           Mississippi         617
24              Missouri        2766
25               Montana        2108
26              Nebraska        1426
27                Nevada        4756
28         New Hampshire         641
29            New Jersey        2164
30            New Mexico        3990
31              New York        4476
32        North Carolina        2711
33          North Dakota        1815
34                  Ohio        3796
35              Oklahoma        1512
36                Oregon        6764
37          Pennsylvania        2700
38           Puerto Rico         479
39          Rhode Island         154
40        South Carolina         860
41          South Dakota        1115
42             Tennessee        1448
43                 Texas        9169
44                  Utah        4184
45               Vermont         108
46              Virginia        2534
47            Washington       13397
48         West Virginia         334
49             Wisconsin        3436
50               Wyoming        1300

In [93]:
total_ariz_movers = ariz_movers.num_movers.sum()
ariz_movers.loc[:, 'pct'] = ariz_movers.num_movers / total_movers
ariz_movers.sort_values('pct', ascending=False)

        state_moved_from  num_movers       pct
3             California       41795  0.140897
47            Washington       13397  0.045163
43                 Texas        9169  0.030910
4               Colorado        8196  0.027630
12              Illinois        7607  0.025644
36                Oregon        6764  0.022802
22             Minnesota        6671  0.022489
8                Florida        5314  0.017914
27                Nevada        4756  0.016033
31              New York        4476  0.015089
44                  Utah        4184  0.014105
21              Michigan        4035  0.013603
30            New Mexico        3990  0.013451
34                  Ohio        3796  0.012797
49             Wisconsin        3436  0.011583
24              Missouri        2766  0.009325
13               Indiana        2740  0.009237
32        North Carolina        2711  0.009139
37          Pennsylvania        2700  0.009102
46              Virginia        2534  0.008542
11                 Idaho        2499  0.008424
9                Georgia        2214  0.007464
29            New Jersey        2164  0.007295
25               Montana        2108  0.007106
33          North Dakota        1815  0.006119
15                Kansas        1701  0.005734
20         Massachusetts        1629  0.005492
14                  Iowa        1624  0.005475
35              Oklahoma        1512  0.005097
17             Louisiana        1493  0.005033
19              Maryland        1480  0.004989
42             Tennessee        1448  0.004881
26              Nebraska        1426  0.004807
50               Wyoming        1300  0.004382
10                Hawaii        1269  0.004278
41          South Dakota        1115  0.003759
1                 Alaska        1045  0.003523
5            Connecticut         974  0.003283
40        South Carolina         860  0.002899
0                Alabama         826  0.002785
16              Kentucky         703  0.002370
2               Arkansas         648  0.002185
28         New Hampshire         641  0.002161
23           Mississippi         617  0.002080
38           Puerto Rico         479  0.001615
6               Delaware         372  0.001254
48         West Virginia         334  0.001126
18                 Maine         261  0.000880
39          Rhode Island         154  0.000519
7   District of Columbia         146  0.000492
45               Vermont         108  0.000364

In [ ]:
# Things to explore:
    # net migration by state; biggest gains/losses as pct of population
    # num_movers / state moved from pop. (to account for size of state)
    # states with high pct from another state
    # income of movers
    
# What are the questions we want to answer?
    # Who the hell is moving to Phoenix?
    # What income brackets move the most?
    # What age groups move the most?

In [104]:
df = df.rename(columns={
    'ST': 'state',
    'PWGTP': 'weight',
    'AGEP': 'age',
    'MIGSP': 'state_moved_from'
})
df.columns

Index(['state', 'weight', 'age', 'MIG', 'MIGPUMA', 'state_moved_from'], dtype='object')

                   state  population
0                Alabama     3415436
1                 Alaska      484465
2                Arizona     4793164
3               Arkansas     2021420
4             California    26801106
5               Colorado     3938057
6            Connecticut     2516568
7               Delaware      690672
8   District of Columbia      487846
9                Florida    15350539
10               Georgia     7075259
11                Hawaii     1020813
12                 Idaho     1185356
13              Illinois     8765200
14               Indiana     4501276
15                  Iowa     2119834
16                Kansas     1921190
17              Kentucky     3052984
18             Louisiana     3134440
19                 Maine      995057
20              Maryland     4242095
21         Massachusetts     4904300
22              Michigan     6926104
23             Minnesota     3849074
24           Mississippi     1973515
25              Missouri     4187851
26               Montana      745538
27              Nebraska     1274549
28                Nevada     2115930
29         New Hampshire      986133
30            New Jersey     6412895
31            New Mexico     1428235
32              New York    14081770
33        North Carolina     7086673
34          North Dakota      503244
35                  Ohio     8076789
36              Oklahoma     2609785
37                Oregon     2972096
38          Pennsylvania     9112121
39          Rhode Island      766324
40        South Carolina     3507232
41          South Dakota      580498
42             Tennessee     4707471
43                 Texas    18625270
44                  Utah     1922501
45               Vermont      455134
46              Virginia     5883189
47            Washington     5279569
48         West Virginia     1278008
49             Wisconsin     4029384
50               Wyoming      390061

In [119]:
state_df = df[['state', 'weight']].groupby('state').sum().reset_index().rename(columns={'weight': 'population'})
interstate_movers = df[(df.MIG==3) & (df.state!=df.state_moved_from)]
transplants = interstate_movers[['state', 'weight']].groupby('state').sum().reset_index().rename(columns={'weight': 'num_transplants'})
leavers = interstate_movers[['state_moved_from', 'weight']] \
    .groupby('state_moved_from').sum().reset_index().rename(columns={'state_moved_from': 'state', 'weight': 'num_leavers'})
state_df = state_df.merge(transplants, how='outer').merge(leavers, how='outer')
state_df.loc[:, 'net_migration'] = state_df.num_transplants - state_df.num_leavers
state_df.sort_values('net_migration', ascending=False)

,state,population,num_transplants,num_leavers,net_migration
9,Florida,15350539.0,446425.0,295537,150888.0
43,Texas,18625270.0,338779.0,265481,73298.0
2,Arizona,4793164.0,176002.0,106675,69327.0
33,North Carolina,7086673.0,187659.0,142781,44878.0
42,Tennessee,4707471.0,129886.0,92785,37101.0
40,South Carolina,3507232.0,105797.0,76400,29397.0
28,Nevada,2115930.0,90147.0,62465,27682.0
10,Georgia,7075259.0,168557.0,143180,25377.0
12,Idaho,1185356.0,49736.0,29275,20461.0
37,Oregon,2972096.0,89134.0,73596,15538.0
5,Colorado,3938057.0,144075.0,129685,14390.0
47,Washington,5279569.0,145533.0,134409,11124.0
19,Maine,995057.0,23879.0,15870,8009.0
29,New Hampshire,986133.0,33498.0,27127,6371.0
36,Oklahoma,2609785.0,57751.0,51413,6338.0
0,Alabama,3415436.0,62752.0,57944,4808.0
26,Montana,745538.0,25148.0,20721,4427.0
17,Kentucky,3052984.0,59979.0,56536,3443.0
7,Delaware,690672.0,23390.0,20085,3305.0
3,Arkansas,2021420.0,42684.0,39976,2708.0
49,Wisconsin,4029384.0,61042.0,58463,2579.0
16,Kansas,1921190.0,55653.0,53364,2289.0
39,Rhode Island,766324.0,21101.0,18943,2158.0
44,Utah,1922501.0,52238.0,50458,1780.0
31,New Mexico,1428235.0,41003.0,39524,1479.0
25,Missouri,4187851.0,89134.0,87987,1147.0
38,Pennsylvania,9112121.0,152618.0,152160,458.0
45,Vermont,455134.0,12937.0,12525,412.0
50,Wyoming,390061.0,16008.0,15797,211.0
41,South Dakota,580498.0,14494.0,16013,-1519.0
48,West Virginia,1278008.0,23571.0,25141,-1570.0
20,Maryland,4242095.0,102737.0,104437,-1700.0
34,North Dakota,503244.0,16566.0,19248,-2682.0
11,Hawaii,1020813.0,33739.0,37244,-3505.0
27,Nebraska,1274549.0,26089.0,29784,-3695.0
14,Indiana,4501276.0,78857.0,82740,-3883.0
6,Connecticut,2516568.0,56178.0,60062,-3884.0
15,Iowa,2119834.0,36807.0,41226,-4419.0
24,Mississippi,1973515.0,36396.0,40972,-4576.0
46,Virginia,5883189.0,157970.0,163493,-5523.0
1,Alaska,484465.0,16376.0,22856,-6480.0
22,Michigan,6926104.0,86918.0,93819,-6901.0
35,Ohio,8076789.0,114224.0,121832,-7608.0
23,Minnesota,3849074.0,59122.0,67014,-7892.0
18,Louisiana,3134440.0,45841.0,59941,-14100.0
8,District of Columbia,487846.0,30722.0,45276,-14554.0
21,Massachusetts,4904300.0,87021.0,112271,-25250.0
30,New Jersey,6412895.0,110482.0,137556,-27074.0
13,Illinois,8765200.0,116075.0,179555,-63480.0
4,California,26801106.0,296635.0,447360,-150725.0
32,New York,14081770.0,155192.0,315515,-160323.0
51,Puerto Rico,NaN,NaN,50040,NaN

In [122]:
state_df.loc[:, 'mig/pop'] = state_df.net_migration / state_df.population
state_df.sort_values('mig/pop', ascending=False)

,state,population,num_transplants,num_leavers,net_migration,mig/pop
12,Idaho,1185356.0,49736.0,29275,20461.0,0.017261
2,Arizona,4793164.0,176002.0,106675,69327.0,0.014464
28,Nevada,2115930.0,90147.0,62465,27682.0,0.013083
9,Florida,15350539.0,446425.0,295537,150888.0,0.009829
40,South Carolina,3507232.0,105797.0,76400,29397.0,0.008382
19,Maine,995057.0,23879.0,15870,8009.0,0.008049
42,Tennessee,4707471.0,129886.0,92785,37101.0,0.007881
29,New Hampshire,986133.0,33498.0,27127,6371.0,0.006461
33,North Carolina,7086673.0,187659.0,142781,44878.0,0.006333
26,Montana,745538.0,25148.0,20721,4427.0,0.005938
37,Oregon,2972096.0,89134.0,73596,15538.0,0.005228
7,Delaware,690672.0,23390.0,20085,3305.0,0.004785
43,Texas,18625270.0,338779.0,265481,73298.0,0.003935
5,Colorado,3938057.0,144075.0,129685,14390.0,0.003654
10,Georgia,7075259.0,168557.0,143180,25377.0,0.003587
39,Rhode Island,766324.0,21101.0,18943,2158.0,0.002816
36,Oklahoma,2609785.0,57751.0,51413,6338.0,0.002429
47,Washington,5279569.0,145533.0,134409,11124.0,0.002107
0,Alabama,3415436.0,62752.0,57944,4808.0,0.001408
3,Arkansas,2021420.0,42684.0,39976,2708.0,0.001340
16,Kansas,1921190.0,55653.0,53364,2289.0,0.001191
17,Kentucky,3052984.0,59979.0,56536,3443.0,0.001128
31,New Mexico,1428235.0,41003.0,39524,1479.0,0.001036
44,Utah,1922501.0,52238.0,50458,1780.0,0.000926
45,Vermont,455134.0,12937.0,12525,412.0,0.000905
49,Wisconsin,4029384.0,61042.0,58463,2579.0,0.000640
50,Wyoming,390061.0,16008.0,15797,211.0,0.000541
25,Missouri,4187851.0,89134.0,87987,1147.0,0.000274
38,Pennsylvania,9112121.0,152618.0,152160,458.0,0.000050
20,Maryland,4242095.0,102737.0,104437,-1700.0,-0.000401
14,Indiana,4501276.0,78857.0,82740,-3883.0,-0.000863
46,Virginia,5883189.0,157970.0,163493,-5523.0,-0.000939
35,Ohio,8076789.0,114224.0,121832,-7608.0,-0.000942
22,Michigan,6926104.0,86918.0,93819,-6901.0,-0.000996
48,West Virginia,1278008.0,23571.0,25141,-1570.0,-0.001228
6,Connecticut,2516568.0,56178.0,60062,-3884.0,-0.001543
23,Minnesota,3849074.0,59122.0,67014,-7892.0,-0.002050
15,Iowa,2119834.0,36807.0,41226,-4419.0,-0.002085
24,Mississippi,1973515.0,36396.0,40972,-4576.0,-0.002319
41,South Dakota,580498.0,14494.0,16013,-1519.0,-0.002617
27,Nebraska,1274549.0,26089.0,29784,-3695.0,-0.002899
11,Hawaii,1020813.0,33739.0,37244,-3505.0,-0.003434
30,New Jersey,6412895.0,110482.0,137556,-27074.0,-0.004222
18,Louisiana,3134440.0,45841.0,59941,-14100.0,-0.004498
21,Massachusetts,4904300.0,87021.0,112271,-25250.0,-0.005149
34,North Dakota,503244.0,16566.0,19248,-2682.0,-0.005329
4,California,26801106.0,296635.0,447360,-150725.0,-0.005624
13,Illinois,8765200.0,116075.0,179555,-63480.0,-0.007242
32,New York,14081770.0,155192.0,315515,-160323.0,-0.011385
1,Alaska,484465.0,16376.0,22856,-6480.0,-0.013376
8,District of Columbia,487846.0,30722.0,45276,-14554.0,-0.029833
51,Puerto Rico,NaN,NaN,50040,NaN,NaN